In [317]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\meraj\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio~=0.17 in c:\users\meraj\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\meraj\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\meraj\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\meraj\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sortedcontainers in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\meraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\meraj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\meraj\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\meraj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\meraj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [318]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [262]:
#1:Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.

In [321]:
driver=webdriver.Chrome()

In [322]:
driver.get(" https://www.shine.com/")

In [323]:
jobtitle = driver.find_element(By.CLASS_NAME,"form-control")
jobtitle.send_keys('Data Analyst')

In [325]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [326]:
experience =driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]")
experience.send_keys('0')

In [329]:
company =driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[1]/div[1]/div[2]")

In [327]:
search= driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [330]:
jobtitle=[]
location=[]
experience=[]
company=[]

In [369]:
#JOB_TITLE
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title=i.text
    jobtitle.append(title)
    
    

#LOCATION
location_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[1]/div[1]/div[3]/div[2]')
for i in location_tags:
    locations=i.text
    location.append(locations)
    
#Experience
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
   exp_required=i.text
   experience.append(exp_required)

In [375]:
import pandas as pd
df=pd.DataFrame({'Title':jobtitle})
df

                                                Title
0                              Marketing Data Analyst
1                              Marketing Data Analyst
2   3 days ago\nMarketing Data Analyst\nnovel grou...
3   Download App\nFor Employers\nHelp\nLogin\nRegi...
4   2 weeks ago\nProject Coordinator (Data Analyst...
..                                                ...
81              Data Engineer - ETL/ Python/ Big Data
82                           Data Analytics - Analyst
83                                       Data Analyst
84              Data Quality / Business Analyst - SQL
85                                  Tax Analyst, Data

[86 rows x 1 columns]